<div class="outer_wrap">
    <div class="outer_wrap_text_box">
        <a href='/surveys/new'>Create a Survey</a><br>
        <a href='/surveys'>Take a Survey</a><br>
        <a href='/surveys/results'>Your Results</a><br>
        <a href='/logout'><i class="fa fa-sign-out fa-lg"></i></a>
    </div>
    <div class="inner_wrap">
        <h2>Welcome <%= @user.name %>!</h2>
        <p>1. <a href='/surveys/new'>Create a Survey</a> from one of your Facebook profile pictures</p>
        <p>2. While you wait for your results, <a href='/surveys'>Take a Survey</a>!</p>
        <p>3. Check your <a href='../surveys/results'>Results</a> to see what other users thought of your profile pic </p>
    </div>
</div>
