<!-- <div class="outer_wrap">
    <div class="outer_wrap_text_box">
        <a href='/surveys/new'>Take a Survey</a>
        <a href='/sessions'>Logout</a>
    </div>
    <div class="inner_wrap">
        <h2>New Page Title</h2>
    </div>
</div>
 -->