<div class="outer_wrap">
  <div class="outer_wrap_text_box">

    <span class="facebook"><a href='/auth/facebook'>Login</a><br></span>

<!--     <div class="login">
      <h2>Login</h2>
      <form class="login_form" method="post" action="/sessions">
        <label class="label" for="email">Email</label>
        <input type="email" name="email" placeholder="me@example.com" value="<%= @email %>"><br>
        <label class="label" for="password">Password</label>
        <input type="password" name="password" placeholder="6 or more characters"><br><br>
        <div class="submit"><input type="submit" value="Sign In"></div>
      </form>
      <br>
      <h2><a href="/users/new">New User?</a></h2>
    </div> -->

  </div>
  <div class="inner_wrap">
    <h3>What are your dating profile pictures really saying about you?</h3>
    <p>
      TruthBack intends to bridge the gap between what you <i>think</i> your profile picture is saying about you and what is <i>actually</i> being conveyed to potential matches.
    </p>
    <p>
      Upload your photo and choose a word that describes the look you're going for.  Your photo becomes a poll for other TruthBack users- giving you instant feedback on your photos.
    </p>
    <p>
      This version is currently available to Facebook test users.  If you would like to sign up, contact Stephanie Lopez dot SF at gmail dot com.
    </p>
  </div>

</div>
